<%- include('../../components/header'); -%>


<div>
    <form method="post">
        <div class="flex flex-wrap px-6 lg:px-24 mt-12 justify-center"> 

            <div class="w-full lg:w-3/4 px-4 mb-6">
                <div class="bg-white border-t border-b sm:rounded border ">
                    
                    <div class="border-b">
                        <div class="flex justify-between px-6 -mb-px">
                            <div class="py-2 flex items-center">
                                <label for="title" class="pr-4 text-sm text-gray-700">Titre du produit</label>
                                <input placeholder="Votre produit" type="text" name="title" id="title" class="appearance-none bg-grey-lighter text-grey-darker border border-red rounded py-2 px-3 focus:border-gray-600" required>
                            </div>
                        </div>
                    </div>

                    <div class="w-full">
                        <div class="p-2">
                            <textarea placeholder="Description du produit" name="content" id="content" class="markdown-editor appearance-none bg-grey-lighter text-grey-darker border border-red rounded py-2 px-3 w-full h-56 focus:border-gray-600" required></textarea>
                        </div>
                    </div>
                    <div class="px-6 -mb-px">
                        <div class="py-2 flex flex-col">
                            <label for="url" class="px-1 text-sm text-gray-700">URL</label>
                            <input placeholder="url-vers-image-produit" type="text" name="url" id="url" class="appearance-none bg-grey-lighter text-grey-darker border border-red rounded py-2 px-3 focus:border-gray-600" required>
                        </div>
                    </div>
                    <div class="px-6 -mb-px">
                        <div class="py-2 flex flex-col m-auto">
                            <button class="font-sans mt-3 font-semibold bg-primary-500 w-auto text-white rounded-lg px-3 py-2 hover:bg-primary-600" name="create_course">Créer</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </form>
</div>

<%- include('../../components/footer'); -%>