<%- include('../../components/header'); -%>

<% if(logged == true && ((my_data.site_group == 'user' && my_data.premium == true) || my_data.site_group == 'admin')) { %>
    <div class="px-6 lg:px-24 pb-6 h-auto my-10">
        <%= JSON.stringify(data.course) %>
    </div>
<% } else { %>
    <%- include('../errors/buy_subscription'); -%>
<% } %>

<%- include('../../components/footer'); -%>