<%- include('../../components/header'); -%>
<div class="flex flexcenter h1header">
    <h1>Bienvenue dans notre cour de Sécurité</h1>

</div>
<div>
    <img src="<%= options.base_url %>images/svg/test.svg" alt="Page non trouvée" class="mx-auto" style="width: 600px;">
</div>
<%- include('../../components/footer'); -%>